doctype html
html(lang="jp")
  head
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-159933056-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-159933056-1');

    title Enquetia (アンケティア) - みんなでアンケしよう！
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(href="https://use.fontawesome.com/releases/v5.6.1/css/all.css", rel="stylesheet")
    meta(name="keywords", content="質問, アンケート, twitter")
    meta(property="og:url", content="https://enquietia.net" + url)
    link(rel="canonical", href="https://enquietia.net" + url)
    meta(name="twitter:site", content="@enquetia")
    meta(name="robots", content="noarchive")
    meta(name="copyright", content="Copyright &amp;copy; Enquetia All right reserved.")
    meta(content='on', http-equiv='x-dns-prefetch-control')
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css")
    link(rel="stylesheet" type="text/css" href="/css/enquetia.css")
    link(rel="icon", type="image/png", href="/img/favicon.png")
    block head
    script(data-ad-client="ca-pub-1361953622760947", async, src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  body
    .loader(style="display: none;")
      span.spinner-border.spinner-border.spinner(role="status", aria-hidden="true")
    .fixed-top
      nav.navbar.navbar-light.border-bottom.bg-light-custom
        a.navbar-brand(href="/")
          img.rounded.d-inline-block.align-top.mr-2(src="/img/logo.png", width="40", height="40")
          | Enquetia
        form.class-inline.d-none.d-sm-block
          a.btn.btn-sm.btn-outline-primary(style="width:250px;", href="/add") アンケートを作る
        span.navbar-text.navbar-right
          if profile
            a(href="/mypage" title="マイページに移動")
              if profile.image
                img.rounded-circle.mr-2(src=profile.image, width=40)
              else
                span #{profile.displayName} &nbsp;
            a(href=logout) ログアウト
          else
            a(href=login) Twitterでログイン
        .d-block.d-sm-none.w-100(style="background-color: white;")
          a.btn.btn-block.btn-outline-primary(href="/add") アンケートを作る
      if messages != null
        if messages.info
          .alert.alert-info.alert-dismissible.fade.show.mb-0
            strong Info:
            span.ml-2= messages.info
            button.close(type="button", data-dismiss="alert", aria-label="Close")
              span(aria-hidden="true") &times;
        if messages.warn
          .alert.alert-warning.alert-dismissible.fade.show.mb-0
            strong Warning:
            span.ml-2= messages.warn
            button.close(type="button", data-dismiss="alert", aria-label="Close")
              span(aria-hidden="true") &times;
        if messages.error
          .alert.alert-danger.alert-dismissible.fade.show.mb-0
            strong Error:
            span.ml-2= messages.error
            button.close(type="button", data-dismiss="alert", aria-label="Close")
              span(aria-hidden="true") &times;
    .mt-5.pt-5
      block content
    p#pageTopBtn(style="display: none;")
      a(href="#")
        i.fa.fa-chevron-up
    footer.container.mt-4(style="height:75px;")
      .row.d-flex.align-items-end.h-100.pb-4
        .col-12.text-center
          a(href="https://twitter.com/enquetia", target="_blank") お問い合わせはこちら（公式Twitter）
        .col-12.text-center
          span &copy;2020 Enquetia
    script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")
    script(type='text/javascript', src='/js/enquete.js')
    block script
