extends ../base.pug

block head
  meta(name="description", content="アンケートの作成画面です。Enquetia (アンケティア) は、匿名でアンケートの作成・回答ができるサービスです。選択項目は最大" + maxItemCount + "個まで設定でき、複数選択にも対応しています。気になるアレコレを気軽にアンケしよう！")
  meta(property="og:type", content="website")
  meta(property="og:title", content="アンケート作成画面 | Enquetia (アンケティア) - みんなでアンケしよう！")
  meta(property="og:description", content="アンケートの作成画面です。Enquetia (アンケティア) は、匿名でアンケートの作成・回答ができるサービスです。選択項目は最大" + maxItemCount + "個まで設定でき、複数選択にも対応しています。気になるアレコレを気軽にアンケしよう！")
  meta(property="og:image", content="https://enquetia.net/img/logo.png")
  meta(property="og:image:alt", content="enquetia")

block content
  h3 #{action}
  form.needs-validation(method="POST", novalidate)
    .form-group
      label(for="content") 質問
      span.badge.badge-pill.badge-danger 必須
      input.form-control(type="text", name="title", id="title", value=question.title, required, maxlength="20")
      .invalid-feedback 20文字以内で入力してください。
    .form-group
      label(for="description") 詳細
      textarea.form-control(name="description", id="description", value=question.description, rows="3", maxlength="100")= question.description
      .invalid-feedback 100文字以内で入力してください。
    .form-group.clearfix#items
      label(for="answer") 回答
      span.badge.badge-pill.badge-danger 必須
      i.fa.fa-fw.fa-question-circle.ml-1(data-container="body", data-toggle="tooltip", data-trigger="hover", data-placement="right", style="width:1rem;height:1rem;", data-html="true", data-content="選択肢を入力します。「選択肢を追加」ボタンを押すと最大8個まで選択肢を増やすことができます。不要な選択肢は入力欄右側の×ボタンで削除できます。")
      button.btn.btn-primary.mt-n2.float-right#add_item(type="button") 選択肢を追加
      span(style="color:red;") ※選択肢は#{maxItemCount}個までです。
    .form-group
      label(for="answer_type") 回答形式
      span.badge.badge-pill.badge-danger 必須
      i.fa.fa-fw.fa-question-circle.ml-1(data-container="body", data-toggle="tooltip", data-trigger="hover", data-placement="right", style="width:1rem;height:1rem;", data-html="true", data-content="回答形式を選択します。「ラジオボタン」の場合は選択肢から1つだけ選んで回答します。「チェックボックス」の場合は複数選択が可能です。")
      select.form-control(name="answer_type", id="answer_type", value=question.answer_type, required)
        option(value="radio") ラジオボタン
        option(value="checkbox") チェックボックス
      .invalid-feedback どれか1つを選択してください。
    .form-group
      label(for="hashtags") ハッシュタグ（半角スペース区切り）
      i.fa.fa-fw.fa-question-circle.ml-1(data-container="body", data-toggle="tooltip", data-trigger="hover", data-placement="right", style="width:1rem;height:1rem;", data-html="true", data-content="アンケートにハッシュタグを追加します。ハッシュタグはアンケートの検索に使用されます。")
      input.form-control(type="text", name="hashtags", id="hashtags", value=question.hashtags, maxlength="200")
      .invalid-feedback 200文字以内で入力してください。
    .form-group
      label(for="period_hours") 回答期間
      span.badge.badge-pill.badge-danger 必須
      i.fa.fa-fw.fa-question-circle.ml-1(data-container="body", data-toggle="tooltip", data-trigger="hover", data-placement="right", style="width:1rem;height:1rem;", data-html="true", data-content="回答を受け付ける期間を指定します。")
      select.form-control(name="period_hours", id="period_hours", value=question.period_hours, required)
        option(value="6") 6時間
        option(value="12") 12時間
        option(value="24") 1日間
        option(value="48") 2日間
        option(value="72") 3日間
        option(value="168") 7日間
        option(value="-1") 無期限
      .invalid-feedback どれか1つを選択してください。
    .form-group
      label(for="answer_type") トップページに公開
      span.badge.badge-pill.badge-danger 必須
      i.fa.fa-fw.fa-question-circle.ml-1(data-container="body", data-toggle="tooltip", data-trigger="hover", data-placement="right", style="width:1rem;height:1rem;", data-html="true", data-content="アンケートをトップページに公開するか指定します。色々な人に回答してほしい場合は「する」、twitterのフォロワーなど特定の人だけに回答してほしい場合は「しない」がオススメです。")
      select.form-control(name="publish_status", id="publish_tatus", value=question.publish_status, required)
        option(value="1") する
        option(value="2") しない
      .invalid-feedback どれか1つを選択してください。
    button.btn.btn-success.float-right.mt-2(type="submit") 入力内容を確認

block script
  script(type='text/javascript', src='/js/form.js', id='question', data-json=JSON.stringify({question: question, maxItemCount: maxItemCount}))
