extends ../base.pug

block head
  meta(name="description", content="Enquetia (アンケティア) は、匿名でアンケートの作成・回答ができるサービスです。選択項目は最大" + maxItemCount + "個まで設定でき、複数選択にも対応しています。気になるアレコレを気軽にアンケしよう！")
  meta(property="og:type", content="website")
  meta(property="og:title", content="Enquetia (アンケティア) - みんなでアンケしよう！")
  meta(property="og:description", content="Enquetia (アンケティア) は、匿名でアンケートの作成・回答ができるサービスです。選択項目は最大" +maxItemCount + "個まで設定でき、複数選択にも対応しています。気になるアレコレを気軽にアンケしよう！")
  meta(property="og:image", content="https://enquetia.net/img/logo.png")
  meta(property="og:image:alt", content="enquetia")

block content
  h3.mt-3 今話題のアンケート
  if topics != null
    ul.list-group.list-group-flush
      each question in topics
        li.list-group-item
          a(href=`/${question.id}`)
            span= question.title
          if question.hashtags !== undefined && question.hashtags !== ''
            span= question.hashtags
    if !topics.length
      p.ml-3.mt-3 アンケートはありません。

  hr.mt-4.mb-4
  h3.mt-4 最新アンケート
  if news != null
    ul.list-group.list-group-flush
      each question in news
        li.list-group-item
          a(href=`/${question.id}`)
            span= question.title
          if question.hashtags !== undefined && question.hashtags !== ''
            span= question.hashtags
    if !news.length
      p.ml-5.mt-3 アンケートはありません。

  if newsCursor
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(newsCursor)}`) More

