extends ../base.pug

block content
  h3.mt-3 今話題のアンケート
  if topics != null
    ul.list-group.list-group-flush
      each question in topics
        li.list-group-item
          a(href=`/${question.id}`)
            span= question.title
          if question.hashtags !== undefined && question.hashtags !== ''
            span= question.hashtags
    if !topics.length
      p アンケートはありません。

  h3 最新アンケート
  if news != null
    ul.list-group.list-group-flush
      each question in news
        li.list-group-item
          a(href=`/${question.id}`)
            span= question.title
          if question.hashtags !== undefined && question.hashtags !== ''
            span= question.hashtags
    if !news.length
      p アンケートはありません。

  if newsCursor
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(newsCursor)}`) More

