extends ../base.pug

block head
  meta(name="description", content="作成したアンケートの削除画面です。Enquetia (アンケティア) は、匿名でアンケートの作成・回答ができるサービスです。選択項目は最大" + maxItemCount + "個まで設定でき、複数選択にも対応しています。気になるアレコレを気軽にアンケしよう！")
  meta(name="twitter:card", content="summary")
  meta(property="og:type", content="website")
  meta(property="og:title", content="アンケート削除画面 | Enquetia (アンケティア) - みんなでアンケしよう！")
  meta(property="og:description", content="作成したアンケートの削除画面です。Enquetia (アンケティア) は、匿名でアンケートの作成・回答ができるサービスです。選択項目は最大" + maxItemCount + "個まで設定でき、複数選択にも対応しています。気になるアレコレを気軽にアンケしよう！")
  meta(property="og:image", content="https://enquetia.net/img/logo.png")
  meta(property="og:image:alt", content="enquetia")

block content
  main.container.p-2.pt-4.pb-5.p-sm-5.mt-3.border.rounded(role="main")
    .card.mb-4.bg-info-custom
      .card-header.bg-light-custom
        h3.mb-0 #{action}
      .card-body.p-4
        p このアンケートを削除します。<br />よろしいですか？
        form(method="POST", novalidate)
          input.form-control(type="hidden", name="period_hours", id="period_hours", value=question.period_hours)
          input.form-control(type="hidden", name="answer_type", id="answer_type", value=question.answer_type)
          input.form-control(type="hidden", name="publish_status", id="publish_status", value=question.publish_status)
          .card.m-0.m-sm-4.mb-5
            .card-header.clearfix(style="background-color: ivory;")
              .row
                .col-8.col-sm-10.pr-0=question.title
                .col-4.col-sm-2.pl-0
              input.form-control-plaintext(type="hidden", name="title", id="title", value=question.title)
            .card-body
              unless question.description === undefined || question.description === ''
                p.card-text #{question.description}
                  input.form-control-plaintext(type="hidden", name="description", id="description", value=question.description, readonly)
              unless question.hashtags === undefined || question.hashtags === ''
                - hashtags = question.hashtags.split(' ')
                p.card-text
                  each hash, index in hashtags
                    input.form-control(type="hidden", name="hashtags[]", id="hashtag"+index, value=hash)
                    a(href="/", class="mr-1") ##{hash}

              fieldset.form-group.pt-3
                .row
                  unless question.answers === undefined
                    each answer, index in question.answers
                      input.form-control(type="hidden", name="answers[]", id="answer"+index, value=answer)
                      .form-check.mb-3.pl-5.col-xs-12.col-sm-6
                        input.form-check-input(id="answer"+index, name="answer", type=question.answer_type)
                        label.form-check-label(for="answer"+index) #{answer}

              - var time_left = ""
              if question.is_expired
                - time_left += "受付は終了しました"
              else if question.is_voted
                - time_left += "投票済み"
              else if question.period_hours === -1
                - time_left += "無期限"
              else
                - time_left += "残り"
                if question.left_hours > 0
                  if parseInt(question.left_hours/24) > 0
                    - time_left += String(parseInt(question.left_hours/24, 10)) + "日"
                  - time_left += String(parseInt(question.left_hours, 10)%24) + "時間"

              - var publish_status = ""
              if publish_status === "1"
                - publish_status += "トップページ公開"
              else if publish_status === "2"
                - publish_status += "トップページ非公開"

              p.card-text.mb-0.clearfix
                small.text-muted.mr-1 #{question.count}票
                small.text-muted.mr-1 #{publish_status} 
                if question.is_expired || question.is_voted
                  small.mr-1(style="color:red;") #{time_left}
                else
                  small.text-muted.mr-1 #{time_left}
                button.btn.btn-outline-primary.btn-sm.float-right.d-none.d-sm-block(type="submit", disabled) 投票する
              .clearfix
                button.btn.btn-outline-primary.btn-sm.float-right.d-block.d-sm-none.mt-3(type="submit", disabled) 投票する
          .row.mt-3
            .col.clearfix
              button.btn.btn-danger.mt-2.ml-2.float-right(type="submit", name="destroy") 削除する
              button.btn.btn-secondary.mt-2.ml-2.float-right(type="submit", name="cancel") キャンセル

block script
  script(type='text/javascript', src='/js/confirm.js', id='question', data-json=JSON.stringify(question))
